<div class="container-fluid bg-1" id="main">
  <svg viewBox="0 0 1800 600" style="margin-top:20px;">
    <symbol id="s-text">
      <text text-anchor="middle" x="50%" y="35%" class="webcoderskull">
          YUVA PARICHAY SETU
      </text>
      <text text-anchor="middle" x="50%" y="88%" class="text--line">2018</text>
    </symbol>

    <g class="g-ants">
      <use xlink:href="#s-text" class="webcoderskull-1"></use>
      <use xlink:href="#s-text" class="webcoderskull-1"></use>
      <use xlink:href="#s-text" class="webcoderskull-1"></use>
      <use xlink:href="#s-text" class="webcoderskull-1"></use>
      <use xlink:href="#s-text" class="webcoderskull-1"></use>
    </g>
  </svg>
</div>

<!-- Second Container -->
<div class="container">
  <h1>STEPS FOR REGISTRATION</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline2">
        <div class="timeline">
          <span class="icon fa fa-globe">1</span>
          <a href="#" class="timeline-content">
            <h3 class="title">STEP 1</h3>
            <p class="description">
              Fill The form with all correct details . <br />
              (ફોર્મને બધી સાચી વિગતોથી ભરો.)
            </p>
          </a>
        </div>
        <div class="timeline">
          <span class="icon fa fa-rocket">2</span>
          <a href="#" class="timeline-content">
            <h3 class="title">STEP 2</h3>
            <p class="description">
              Send a Demand Draft of RS 500 to us. <br />
              (અમને રૂપીયા 1000 નો ડિમાન્ડ ડ્રાફ્ટ મોકલો.)
            </p>
          </a>
        </div>
        <div class="timeline">
          <span class="icon fa fa-briefcase">3</span>
          <a href="#" class="timeline-content">
            <h3 class="title">STEP 3</h3>
            <p class="description">
              Once your profile is verified you will get a confirmation call
              from our comitee member. <br />
              (એકવાર તમારી પ્રોફાઇલની ચકાસણી થઈ જાય પછી તમને અમારા સમિતિ સભ્ય
              તરફથી એક પુષ્ટિકરણ કૉલ મળશે.)
            </p>
          </a>
        </div>
        <div class="timeline">
          <span class="icon fa fa-mobile">4</span>
          <a href="#" class="timeline-content">
            <h3 class="title">STEP 4</h3>
            <p class="description">
              Hurrah!! Registraion complete... <br />
              (રજિસ્ટ્રેશન પૂર્ણ થયું ...)
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Third Container (Grid) -->
<div class="container bg-2 text-center" style="width: 100%;padding: 25px;">
  <!-- <h3 class="margin">Rules (નિયમો)</h3> -->

  <div id="accordion">

    <div class="card" style="background-color:#3ebae7">
      <div class="card-header" style="background-color: #fff;">
        <!-- <a class="card-link" data-toggle="collapse" href="#collapseOne">
          Collapsible Group Item #1
        </a> -->
        <a class="card-link" data-toggle="collapse" href="#collapseOne" style=color:black;>
          Rules (નિયમો)
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          <p class="rules">
            1) આ યુવા પરિચય સેતુ તમામ ફીરકાના જૈનધર્મી અપરણીત યુવક-યુવતી પૂરતો
            સિમીત છે.
          </p>
          <p class="rules">
            2) અધુરી માહિતીવાળા તથા ફોટા વગરના ફોર્મ રદબાતલ ગણાશે.
          </p>
          <p class="rules">
            3) યુવા પરિચય સેતુની વેબસાઇટ પર મુક્વામા આવતી માહિતી ફોર્મના આધારે
            રહેશે. પ્રિન્ટીંગ ભૂલ હોય તો ઉમેદવાર/વાલીએ ખરાઈ કરવી.
            <b>આયોજકો ભૂલ માટે જવાબદાર રહેશે નહિં.</b>
          </p>
          <p class="rules">
            4) ફોર્મ સ્વીકારવાની છેલ્લી તા.--/--/-- બુધવાર રહેશે. ત્યારબાદ કોઇપણ
            સંજોગોમાં ફોર્મ સ્વીકારાશે નહી.
          </p>
          <p class="rules">
            5) જન્મ તારીખ પ્રમાણપત્રની ખરી નકલ સામેલ રાખવી ફરજિયાત છે.
          </p>
          <p class="rules">
            6) યુવા પરિચય સેતુ તા.--/--/-- ને રવિવાર ના રોજ યોજાશે તે સમયે દરેક
            ઉમેદવાર + ૧ વ્યક્તિ સાથે હાજર રહેવું અને સ્થળ પર જ " યુવા પરિચય સેતુ
            ની વેબસાઇટ નો પાસવર્ડ આપવામાં આવશે.
          </p>
          <p class="rules">
            7) યુવા પરિચય સેતુ'ના દિવસે ઉપસ્થિત રહેનાર કન્યા ઉમેદવાર ડાયસ ઉપર આવી
            પરિચય આપશે તેને રા.૨00/- પ્રોત્સાહક પુરસ્કાર આપવામાં આવશે.
          </p>
          <p class="rules">
            8) મર્યાદિત સંખ્યાના આયોજનને કારણે કદાચ મને સ્વપરીચય આપવાની અને હાજર
            રહેવાની તક ન મળી શકે તેમ હોય તો પણ મારી વિગત
            <b>યુવા પરિચય સેતુ વેબસાઇટમા </b> પ્રસિદ્ધ કરવા માટે મારી સહમતી છે.
          </p>
          <p class="rules">
            9) આ ફોર્મ જૈન સોશ્યલ ગ્રુપ સુરેન્દ્રનગર મીડ ટાઉન ના કબજામાં રહેશે..
          </p>
          <p class="rules">
            10) આ યુવા પરીચય સેતુનુ આયોજન ૧૮થી ૩૫ વર્ષની અપરણિત યુવતી તથા ર૧ થી
            ૩પના અપરણિત યુવક માટેનું છે. મર્યાદીત સંખ્યામાં ઉમેદવાર લેવાના હોય
            વહેલા તે પહેલાના ધોરણે ફોર્મ સ્વીકારવામાં આવશે. વાદ-વિવાદને સ્થાન
            રહેશે નહિં . ઉમેદવારે “યુવા પરિચય સેતુમાં હાજર રહેવું ફરજીયાત છે.
          </p>
          <p class="rules">
            11) જેમણે ફોર્મ ભર્યું હોય પરંતુ ઉપસ્થિત રહી શકયા ન હોય તથા જેમણે
            “યુવા પરિચય સેતુ' વેબસાઇટ નો પાસવર્ડ જોઇતો હોય તેમણે સંપર્ક સુત્રો
            પાસેથી તા.--/--/-- થી તા.--/--/-- સુધીમાં મેળવી લેવાનો રહેશે.
          </p>
          <p class="rules">
            12) અનિવાર્ય સંજોગોવસાત યુવતી ઉમેદવાર હાજર રહી શકે તેમ ન હોય તો
            પોતાના પરિચયની WhatsApp વિડીયો કલીપ મોબાઇલ નંબર ૦૭૩૮૩૭૭૭૭૪ માં કરશે
            તો શકય હશે તો તે કલીપ પ્રોગ્રામ દરચાન દર્શાવવામાં આવશે તેનો ચાર્જ
            રૂા. ૨૦૦ અલગથી. લેવામાં આવશે
          </p>
          <p class="rules">
            13) અરસ-પરસ ગમ્યા બાદ તે અંગે જરૂરી તમામ તપાસ પોતાની રીતે કરીને જ આગળ
            વધવું. આ અંગે આયોજક સંસ્થાની કોઇ જ જવાબદારી રહેશે નહિં.
          </p>
          <p class="rules">
            14) અનિવાર્ય સંજોગોમાં કાર્યક્રમમાં ફેરફારનો હકક આયોજક સમિતિનો રહેશે.
          </p>
          <p class="rules">15) ન્યાયક્ષેત્ર સુરેન્દ્રનગર રહેશે.</p>
          <p class="rules">
            16) ઉપરોકત માહિતી સંપૂર્ણ પણે સાચી છે તેની ખાત્રી આપું છું તેમજ
            યોજાનાર “યુવા પરિચય સેતુ અંગેના નિયમો પાળવા અમો બંધન કર્તા છીએ.
          </p>
        </div>
      </div>
    </div>

  </div>

  <!-- <div class="panel-group" id="accordion">
    <div class="panel panel-default" style="background-color:#3ebae7">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a            
            data-toggle="collapse"
            data-target="#collapseOne"
          >
            Rules (નિયમો)
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <p class="rules">
            1) આ યુવા પરિચય સેતુ તમામ ફીરકાના જૈનધર્મી અપરણીત યુવક-યુવતી પૂરતો
            સિમીત છે.
          </p>
          <p class="rules">
            2) અધુરી માહિતીવાળા તથા ફોટા વગરના ફોર્મ રદબાતલ ગણાશે.
          </p>
          <p class="rules">
            3) યુવા પરિચય સેતુની વેબસાઇટ પર મુક્વામા આવતી માહિતી ફોર્મના આધારે
            રહેશે. પ્રિન્ટીંગ ભૂલ હોય તો ઉમેદવાર/વાલીએ ખરાઈ કરવી.
            <b>આયોજકો ભૂલ માટે જવાબદાર રહેશે નહિં.</b>
          </p>
          <p class="rules">
            4) ફોર્મ સ્વીકારવાની છેલ્લી તા.--/--/-- બુધવાર રહેશે. ત્યારબાદ કોઇપણ
            સંજોગોમાં ફોર્મ સ્વીકારાશે નહી.
          </p>
          <p class="rules">
            5) જન્મ તારીખ પ્રમાણપત્રની ખરી નકલ સામેલ રાખવી ફરજિયાત છે.
          </p>
          <p class="rules">
            6) યુવા પરિચય સેતુ તા.--/--/-- ને રવિવાર ના રોજ યોજાશે તે સમયે દરેક
            ઉમેદવાર + ૧ વ્યક્તિ સાથે હાજર રહેવું અને સ્થળ પર જ " યુવા પરિચય સેતુ
            ની વેબસાઇટ નો પાસવર્ડ આપવામાં આવશે.
          </p>
          <p class="rules">
            7) યુવા પરિચય સેતુ'ના દિવસે ઉપસ્થિત રહેનાર કન્યા ઉમેદવાર ડાયસ ઉપર આવી
            પરિચય આપશે તેને રા.૨00/- પ્રોત્સાહક પુરસ્કાર આપવામાં આવશે.
          </p>
          <p class="rules">
            8) મર્યાદિત સંખ્યાના આયોજનને કારણે કદાચ મને સ્વપરીચય આપવાની અને હાજર
            રહેવાની તક ન મળી શકે તેમ હોય તો પણ મારી વિગત
            <b>યુવા પરિચય સેતુ વેબસાઇટમા </b> પ્રસિદ્ધ કરવા માટે મારી સહમતી છે.
          </p>
          <p class="rules">
            9) આ ફોર્મ જૈન સોશ્યલ ગ્રુપ સુરેન્દ્રનગર મીડ ટાઉન ના કબજામાં રહેશે..
          </p>
          <p class="rules">
            10) આ યુવા પરીચય સેતુનુ આયોજન ૧૮થી ૩૫ વર્ષની અપરણિત યુવતી તથા ર૧ થી
            ૩પના અપરણિત યુવક માટેનું છે. મર્યાદીત સંખ્યામાં ઉમેદવાર લેવાના હોય
            વહેલા તે પહેલાના ધોરણે ફોર્મ સ્વીકારવામાં આવશે. વાદ-વિવાદને સ્થાન
            રહેશે નહિં . ઉમેદવારે “યુવા પરિચય સેતુમાં હાજર રહેવું ફરજીયાત છે.
          </p>
          <p class="rules">
            11) જેમણે ફોર્મ ભર્યું હોય પરંતુ ઉપસ્થિત રહી શકયા ન હોય તથા જેમણે
            “યુવા પરિચય સેતુ' વેબસાઇટ નો પાસવર્ડ જોઇતો હોય તેમણે સંપર્ક સુત્રો
            પાસેથી તા.--/--/-- થી તા.--/--/-- સુધીમાં મેળવી લેવાનો રહેશે.
          </p>
          <p class="rules">
            12) અનિવાર્ય સંજોગોવસાત યુવતી ઉમેદવાર હાજર રહી શકે તેમ ન હોય તો
            પોતાના પરિચયની WhatsApp વિડીયો કલીપ મોબાઇલ નંબર ૦૭૩૮૩૭૭૭૭૪ માં કરશે
            તો શકય હશે તો તે કલીપ પ્રોગ્રામ દરચાન દર્શાવવામાં આવશે તેનો ચાર્જ
            રૂા. ૨૦૦ અલગથી. લેવામાં આવશે
          </p>
          <p class="rules">
            13) અરસ-પરસ ગમ્યા બાદ તે અંગે જરૂરી તમામ તપાસ પોતાની રીતે કરીને જ આગળ
            વધવું. આ અંગે આયોજક સંસ્થાની કોઇ જ જવાબદારી રહેશે નહિં.
          </p>
          <p class="rules">
            14) અનિવાર્ય સંજોગોમાં કાર્યક્રમમાં ફેરફારનો હકક આયોજક સમિતિનો રહેશે.
          </p>
          <p class="rules">15) ન્યાયક્ષેત્ર સુરેન્દ્રનગર રહેશે.</p>
          <p class="rules">
            16) ઉપરોકત માહિતી સંપૂર્ણ પણે સાચી છે તેની ખાત્રી આપું છું તેમજ
            યોજાનાર “યુવા પરિચય સેતુ અંગેના નિયમો પાળવા અમો બંધન કર્તા છીએ.
          </p>
        </div>
      </div>
    </div>
  </div> -->
</div>

<!-- fourth container -->
<div class="container text-center">
  <h3 class="offer-content">કોઈપણ પ્રશ્નો?? અમારો સંપર્ક કરો</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="offer offer-default">
        <div class="shape">
          <div class="shape-text">
            <span class="glyphicon glyphicon-phone"></span>
          </div>
        </div>
        <div class="offer-content">
          <h3 class="lead">પરેશ શાહ</h3>
          <p>મો.૯૮૨૪૪૮૪૬૨૯</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="offer offer-success">
        <div class="shape">
          <div class="shape-text">
            <span class="glyphicon glyphicon-phone"></span>
          </div>
        </div>
        <div class="offer-content">
          <h3 class="lead">કલ્પેશ પારેખ</h3>
          <p>મો. ૯૪૨૮૨ ૯૧૧૦૨</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="offer offer-radius offer-primary">
        <div class="shape">
          <div class="shape-text">
            <span class="glyphicon glyphicon-phone"></span>
          </div>
        </div>
        <div class="offer-content">
          <h3 class="lead">સંજય વોરા</h3>
          <p>મો. ૬૩૫૪૬ ૯૯૯૨૪</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="offer offer-info">
        <div class="shape">
          <div class="shape-text">
            <span class="glyphicon glyphicon-phone"></span>
          </div>
        </div>
        <div class="offer-content">
          <h3 class="lead">યોગેશ શાહ</h3>
          <p>મો. ૯૮૨૫૩ ૮૦૧૧૬</p>
        </div>
      </div>
    </div>
    <hr />
    <div id="buttons">
      <a href="#" routerLink="/register" class="btn red" style="width:200px"
        >REGISTER</a
      >
    </div>
  </div>
</div>
<app-footer></app-footer>
